/*pantalla custom de login*/

#login {
   background: #1abc9c;
}
#login .login 
 {
   background: none;
}

/*fin login*/

/* padding en el body para responsive. */

  @media (min-width: 981px) {
    body {
      padding-top: 60px;
    }
  }

/*fin paddding del body*/

/*footer*/

.Bottombar {    
    margin: 20px 0 0 0;
    height: 80px; 
    padding: 20px 0;
    background: #1abc9c;
    color: #ffffff;
}

/*fin bottom*/

/* tablas */

table {
  max-width: 100%;
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  margin-bottom: 21px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #ecf0f1;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ecf0f1;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #ecf0f1;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #ecf0f1;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ecf0f1;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #ecf0f1;
}

table col[class*="col-"] {
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  display: table-cell;
  float: none;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #ecf0f1;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #18bc9c;
  color: #ffffff;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
  background-color: #15a589;
  color: #ffffff;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #e74c3c;
  color: #ffffff;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #e43725;
  color: #ffffff;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #f39c12;
  color: #ffffff;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #e08e0b;
  color: #ffffff;
}

/* fin de tablas */

* {
	margin: 0;
}
html, body {
	height: 100%;
}

body {
    font-size: 12px;
}

/* sticky footer, el pie depagina queda siempre pegado al fondo. */
.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 40px; /* '.push' must be the same height as 'footer' */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

/* select con ajax*/

#ajax_listOfOptions{position: absolute;/* Never change this one */ width: 465px;/* Width of box */ height: 250px;/* Height of box */ overflow: auto;/* Scrolling features */ border: 1px solid #5789D5;/* Dark green border */ background-color: #FFF;/* White background color */ text-align: left; font-size: 0.9em; z-index: 100;}

#ajax_listOfOptions div{/* General rule for both .optionDiv and .optionDivSelected */margin: 1px; padding: 1px; cursor: pointer; font-size: 0.9em;}

#ajax_listOfOptions .optionDiv{/* Div for each item in list */}

#ajax_listOfOptions .optionDivSelected{/* Selected item in the list */background-color: #5789D5; color: #FFF;}

#ajax_listOfOptions_iframe{background-color: #F00; position: absolute; z-index: 5;}


#ajax_listOfOptionsSmall{position: absolute;/* Never change this one */ width: 350px;/* Width of box */ height: 250px;/* Height of box */ overflow: auto;/* Scrolling features */ border: 1px solid #5789D5;/* Dark green border */ background-color: #FFF;/* White background color */ text-align: left; font-size: 0.9em; z-index: 100;}

#ajax_listOfOptionsSmall div{/* General rule for both .optionDiv and .optionDivSelected */margin: 1px; padding: 1px; cursor: pointer; font-size: 0.9em;}

#ajax_listOfOptionsSmall .optionDiv{/* Div for each item in list */}

#ajax_listOfOptionsSmall .optionDivSelected{/* Selected item in the list */background-color: #5789D5; color: #FFF;}

#ajax_listOfOptionsSmall_iframe{background-color: #F00; position: absolute; z-index: 5;}

.bajocero{
    margin-bottom: 0px;
}

.bajocinco{
    margin-bottom: 5px;
}


/*estilos labels Override*/

.label-success {
background-color: #34495e;
}

.label {
display: inline;
padding: .2em .8em 1em;
font-size: 85%;
font-weight: bold;
line-height: 1;
color: #ffffff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}

/*fin override labels*/

.navbar-brand {
float: left;
padding: 15px 15px 20px;
font-size: 18px;
line-height: 20px;
}

